@page "/app/reports"
<div class="content container-fluid">
	<div class="page-header">
		<div class="content-page-header">
<h5>Reports</h5>
		</div>
	</div>



<div class="card">
							<div class="card-body">
			<!-- /Filter -->
				<div class="">
					<div class="card-body pb-0">
		<!----><!---->
		<div class="row">
			<div class="col-lg-4">
				<div class="report-section">
					<h4>
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512"
							 xml:space="preserve" class="icon lpanel">
						<path d="M480 480V264c0-4.4-3.6-8-8-8h-16c-4.4 0-8-3.6-8-8v-16c0-4.4-3.6-8-8-8H328c-4.4 0-8 3.6-8 8v16c0 4.4-3.6 8-8 8h-16c-4.4 0-8 3.6-8 8v216h-32V72c0-4.4-3.6-8-8-8h-16c-4.4 0-8-3.6-8-8V40c0-4.4-3.6-8-8-8h-24V0H96v32H72c-4.4 0-8 3.6-8 8v16c0 4.4-3.6 8-8 8H40c-4.4 0-8 3.6-8 8v408H0v32h512v-32h-32zM64 96h64v64H64V96zm0 96h64v64H64v-64zm0 96h64v64H64v-64zm128 192H96v-96h96v96zm32-128h-64v-64h64v64zm0-96h-64v-64h64v64zm0-96h-64V96h64v64zm96 128h64v32h-64v-32zm0 64h64v32h-64v-32zm96 128h-64v-64h64v64zm32-96h-32v-32h32v32zm0-64h-32v-32h32v32z">
						</path>
					</svg>  Accounting & Finance

					</h4>
					<div class="nav flex-column">
						<div class="nav-item">
							<a id="ember1733" class="ember-view nav-link" href="/app/reports/account-Transaction">
								<div id="ember1734" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1735="1735">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Account Transaction</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1733" class="ember-view nav-link" href="/app/reports/general-ledger">
								<div id="ember1734" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1735="1735">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">General Ledger</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1733" class="ember-view nav-link" href="/app/reports/trailbalance ">
								<div id="ember1734" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1735="1735">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Trail Balance</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
										<a id="ember1733" class="ember-view nav-link" href="/app/reports/profitnloss">
								<div id="ember1734" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1735="1735">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Profit and Loss</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1739" class="ember-view nav-link" href="/app/reports/balancesheet">
								<div id="ember1740" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1741="1741">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Balance Sheet</span> <!---->
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="report-section">
					<h4>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 414" class="icon lpanel">
							<circle cx="168.6" cy="380" r="33.8"></circle>
							<circle cx="378.9" cy="380" r="33.8"></circle>
							<path d="M343 320H173c-31 0-57-21-63-51L61 60v-1c-2-10-11-17-21-17H21a21 21 0 110-42h19c30 0 56 21 62 51l49 209c2 11 11 18 22 18h170c18 0 33-12 38-30l31-116c2-7 0-14-4-19s-10-9-17-9H202a21 21 0 110-42h189c20 0 38 9 51 25 12 16 16 36 11 56l-31 116c-10 36-42 61-79 61z">
							</path>
						</svg> Sales
					</h4>
					<div class="nav flex-column">
						<div class="nav-item">
							<a id="ember1748" class="ember-view nav-link"
							   href="/app/reports/sales-customer">
								<div id="ember1749" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1750="1750">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Sales by Customer</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1751" class="ember-view nav-link" href="/app/reports/sales-by-item">
								<div id="ember1752" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1753="1753">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Sales by Item</span> <!---->
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="report-section">
					<h4>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468 434" class="icon lpanel">
							<path d="M464 238L415 76a81 81 0 00-101-53L151 72c-13 4-25 12-34 21l-15-49C96 26 82 13 64 9L25 0a21 21 0 10-8 42l38 8c3 0 6 3 7 6l36 117 40 133a76 76 0 10127 78l146-45c42-13 67-58 53-101zM227 364a34 34 0 01-23 26 34 34 0 1123-26zm171-65l-131 41-1-4a76 76 0 00-90-52l-38-123c-6-20 5-42 26-49l162-49c20-7 42 5 49 26l49 162c7 20-5 42-26 48z">
							</path>
							<path d="M246 182a21 21 0 01-7-41l40-12a21 21 0 0112 40l-39 12-6 1z"></path>
						</svg> Inventory
					</h4>
					<div class="nav flex-column">
						<div class="nav-item">
							<a id="ember1757" class="ember-view nav-link"
							   href="/app/reports/inventory-item">
								<div id="ember1758" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1759="1759">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Inventory Items Summary</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1760" class="ember-view nav-link"
							   href="/app/reports/stock-summary">
								<div id="ember1761" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1762="1762">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Stock Summary</span> <!---->
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-lg-4">
				<div class="report-section">
					<h4>
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512"
							 xml:space="preserve" class="icon lpanel">
						<path d="M508.4 403.8L491 386.4c-4.8-4.8-12.6-4.8-17.4 0l-28.4 23.9c-4 3.4-10.1.5-10.1-4.7V259.2c0-3.4-2.8-6.2-6.2-6.2h-37c-3.4 0-6.2 2.8-6.2 6.2v145.3c0 5.4-6.5 8.2-10.4 4.5l-23.7-22.5c-4.8-4.8-12.6-4.8-17.4 0l-17.4 17.4c-4.8 4.8-4.8 12.6 0 17.4l61 61 26.2 26.2c4.8 4.8 12.6 4.8 17.4 0l26.1-26.2 61-61c4.7-4.9 4.7-12.7-.1-17.5z">
						</path>
						<path d="M206.9 32c5.8 0 11.7.3 17.4.9 21.5 2.2 42.2 8.4 61.7 18.5 19.5 10 36.6 23.3 50.8 39.5 24.4 27.7 39.3 63.3 42.6 100.2H362c-18.1 0-33.2 12.6-37.2 29.4-.8 2.8-1.2 5.7-1.2 8.8v104.9c-9.3 8.6-19.5 16.2-30.5 22.6-26.3 15.3-56.5 23.4-87.5 23.4-17.2 0-34.1-2.5-50.3-7.4-20.1-6.1-38.9-15.9-55.9-29-16.9-13.1-31.1-29-42.1-47-22.6-37.4-30.5-83.1-21.7-125.8 4.1-20.3 12-39.7 23.3-57.7 11.3-17.9 25.4-33.4 42-46C131 44.5 168.6 32 206.9 32m0-32c-45 0-89.4 14.6-125.4 41.8C42 71.9 14.1 116 4.2 164.6-6.2 215.3 3.1 269 30 313.2c26.2 42.9 67.9 75.4 116 90 19.4 5.9 39.5 8.8 59.6 8.8 36.1 0 72.1-9.4 103.5-27.7 16.3-9.5 31.2-21.2 44.2-34.6 1.4-1.5 2.2-3.5 2.2-5.5v-115h.2c0-3.4 2.8-6.2 6.2-6.2h42c4.2 0 7.7-3.3 7.9-7.5v-.1c2.4-53-15.9-105.8-51-145.7-34-38.6-82.1-63.4-133.3-68.7-6.9-.7-13.8-1-20.6-1z">
						</path>
						<path d="M259.1 268.7c-6 12.8-18.4 20.8-31.8 24.3-1.8.5-3.6.8-5.5 1.2-1.5.3-3.4.2-4.7 1.3-1.4 1.2-1.1 3-1.1 4.6 0 3.6.5 7.7-.2 11.2-2.3 10.4-16.1 9.7-17.6-.7-.4-2.5-.1-5.1-.1-7.6 0-2.4.8-6.3-1.7-7.7-2-1.2-5.4-1.1-7.7-1.6-2.6-.6-5.2-1.3-7.7-2.2-5.1-1.8-10-4.4-14.4-7.6-8.9-6.4-15.1-15.2-17.5-25.9-1.4-5.9 1.3-12.1 6.7-15.1 3.9-2.2 8.4-1.8 12.7-1.8 6.2 0 11.9 3.7 13.7 9.7 2 6.7 5.1 12.1 11.6 15.5 11.8 6.1 30 3.3 34.3-10.7 2-6.6 1.4-14.7-2.5-20.6-3.5-5.4-9.6-8.8-15.2-11.4-7.5-3.5-15.4-6-22.9-9.6-6.1-3-12-6.3-17.3-10.5-10.9-8.4-16.3-20.1-16.8-33.8-.6-14.6 4.2-28.5 15.6-38 5.4-4.5 11.7-7.7 18.4-9.7 3.4-1 7.3-1.1 10.6-2.3 2-.7 2.1-2.6 2.1-4.3 0-7.6-2-21.3 9.4-21.3 11.6 0 9.6 13.6 9.6 21.3 0 1.5-.1 3.1 1.2 4.2 1.2 1 3.4 1 4.9 1.4 2 .5 3.9 1.1 5.8 1.8 6.4 2.3 12.3 6 17.2 10.7 5.5 5.4 9.3 12 11.7 19.2 2.1 6.5 2.6 13-2.5 18.2-3.9 4-8.7 4.2-13.9 4.2-5.7 0-10.7-1.9-13.7-7-1.7-2.9-2.1-6.4-3.4-9.5-1.4-3.3-3.4-6.3-6.2-8.6-5.3-4.4-12.8-5.1-19.3-3.4-13.8 3.7-16.9 23.7-8.9 34.1 3.8 5 10 8 15.6 10.5 7.7 3.4 15.6 6.3 23.1 10.2 11.3 5.9 23.3 13.4 28.7 25.5 5.6 12.6 5.5 29.2-.3 41.8z">
						</path>
					</svg> Receivables
					</h4>
					<div class="nav flex-column">
						<div class="nav-item">
							<a id="ember1781" class="ember-view nav-link"
							   href="/app/reports/receivables-summary">
								<div id="ember1782" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1783="1783">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Receivables Summary</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1784" class="ember-view nav-link" href="/app/reports/payment-received">
								<div id="ember1785" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1786="1786">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Payment Received</span> <!---->
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="report-section">
					<h4>
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 512 512"
							 xml:space="preserve" class="icon lpanel">
						<path d="M230.5 301.1c-7.5-3.9-15.4-6.8-23.1-10.2-5.6-2.5-11.8-5.5-15.6-10.5-8-10.4-4.9-30.4 8.9-34.1 6.5-1.7 14-1 19.3 3.4 2.8 2.3 4.8 5.3 6.2 8.6 1.3 3.1 1.7 6.6 3.4 9.5 3 5.1 8 7 13.7 7 5.2 0 10-.2 13.9-4.2 5.1-5.2 4.6-11.7 2.5-18.2-2.4-7.2-6.2-13.8-11.7-19.2-4.9-4.7-10.8-8.4-17.2-10.7-1.9-.7-3.8-1.3-5.8-1.8-1.5-.4-3.7-.4-4.9-1.4-1.3-1.1-1.2-2.7-1.2-4.2 0-7.7 2-21.3-9.6-21.3-11.4 0-9.4 13.7-9.4 21.3 0 1.7-.1 3.6-2.1 4.3-3.3 1.2-7.2 1.3-10.6 2.3-6.7 2-13 5.2-18.4 9.7-11.4 9.5-16.2 23.4-15.6 38 .5 13.7 5.9 25.4 16.8 33.8 5.3 4.2 11.2 7.5 17.3 10.5 7.5 3.6 15.4 6.1 22.9 9.6 5.6 2.6 11.7 6 15.2 11.4 3.9 5.9 4.5 14 2.5 20.6-4.3 14-22.5 16.8-34.3 10.7-6.5-3.4-9.6-8.8-11.6-15.5-1.8-6-7.5-9.7-13.7-9.7-4.3 0-8.8-.4-12.7 1.8-5.4 3-8.1 9.2-6.7 15.1 2.4 10.7 8.6 19.5 17.5 25.9 4.4 3.2 9.3 5.8 14.4 7.6 2.5.9 5.1 1.6 7.7 2.2 2.3.5 5.7.4 7.7 1.6 2.5 1.4 1.7 5.3 1.7 7.7 0 2.5-.3 5.1.1 7.6 1.5 10.4 15.3 11.1 17.6.7.7-3.5.2-7.6.2-11.2 0-1.6-.3-3.4 1.1-4.6 1.3-1.1 3.2-1 4.7-1.3 1.9-.4 3.7-.7 5.5-1.2 13.4-3.5 25.8-11.5 31.8-24.3 5.9-12.6 6-29.3.3-41.8-5.4-12.1-17.4-19.6-28.7-25.5zM508.5 90.8l-61-61-26.1-26.2c-4.8-4.8-12.6-4.8-17.4 0l-26.2 26.2-61 61c-4.8 4.8-4.8 12.6 0 17.4l17.4 17.4c4.8 4.8 12.6 4.8 17.4 0l23.7-22.5c3.9-3.7 10.4-.9 10.4 4.5v145.2c0 3.4 2.8 6.2 6.2 6.2h37c3.4 0 6.2-2.8 6.2-6.2V106.4c0-5.2 6.1-8.1 10.1-4.7l28.4 23.9c4.8 4.8 12.6 4.8 17.4 0l17.4-17.4c4.8-4.8 4.8-12.6.1-17.4z">
						</path>
						<path d="M403.8 289h-42c-3.4 0-6.2-2.8-6.2-6.2v-115c0-2.1-.8-4.1-2.2-5.5-13.1-13.4-27.9-25.1-44.2-34.6-31.5-18.3-67.5-27.7-103.6-27.7-20.1 0-40.2 2.9-59.5 8.8C98 123.5 56.2 156 30 198.8 3.1 243-6.2 296.7 4.1 347.4 14 396.1 42 440.2 81.5 470.2c35.8 27.2 80 41.8 124.7 41.8 7.1 0 14.1-.4 21.2-1.1 51.2-5.2 99.3-30 133.3-68.7 35.1-39.8 53.5-92.6 51-145.6-.2-4.3-3.7-7.6-7.9-7.6zm-67.1 131.9c-14.3 16.2-31.4 29.6-50.8 39.6-19.5 10-40.2 16.2-61.7 18.4h-.1c-5.9.6-11.9.9-17.9.9-37.9 0-75.4-12.5-105.3-35.3-16.6-12.6-30.8-28.1-42.1-46s-19.2-37.3-23.3-57.7c-8.7-42.7-.7-88.5 21.9-125.6 11-18 25.2-33.8 42.1-46.9 17-13.2 35.8-23 56-29.1 16.1-4.7 33-7.2 50.1-7.2 30.9 0 61.2 8.1 87.5 23.3 10.8 6.3 21 13.9 30.5 22.6v104.8c0 21.1 17.1 38.2 38.2 38.2h17.5c-3.2 36.8-18.2 72.3-42.6 100z">
						</path>
					</svg> Payables
					</h4>
					<div class="nav flex-column">
						<div class="nav-item">
							<a id="ember1826" class="ember-view nav-link" href="/app/reports/payable-summary">
								<div id="ember1827" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1828="1828">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Payables Summary</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1829" class="ember-view nav-link"
							   href="/app/reports/payment-made">
								<div id="ember1830" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1831="1831">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Payment Made</span> <span>
											<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
												 class="icon icon-xlg align-middle">
												<path d="M356.3 476l9.9 3.8 19.7-50.8h-11.4zm-94.6 19l5.6 5.7 39.5-39.5-8.2-3.2zM216.5 50.8l-48-18.6L167 36l46.4 18zM177.1 480l1.9 4.2 41.9-18.6-3.4-3.4zM380 83l-24.3-55.2-9.5 4.2 22.5 51zm132 173l-42.6-42.6 21.7-56.3-50.8-19.6V83H429v54.5l50.8 19.6-21.8 56.3 42.7 42.6-38.5 38.5 22 49.9-55.2 24.3V429h11.3v-60.3l55.2-24.3-22-49.9zM302.4 46.4l-35.1-35.1-5.6 5.7 32.8 32.8z"
													  fill="#ff5252"></path>
												<path d="M500.7 256L458 213.4l21.8-56.2-50.8-19.7V83h-60.3l-22.5-51-1.8-4.2-42 18.5-7.8 3.5L261.7 17l-5.7-5.7-39.5 39.5-3.2 3.2L167 36l-9.8-3.8L137.5 83H83v60.3l-55.2 24.4 22 49.8L11.3 256 54 298.6l-21.8 56.2L83 374.5V429h60.3l24.4 55.2 9.5-4.2 40.4-17.8 3.5 3.5 35.1 35.1 5.7-5.7 37-37 8.2 3.2 48.1 18.6 1.5-3.8 18.2-47H429v-60.3l55.2-24.4-22-49.8 38.5-38.6zm-315.2 66.2c-1.5.1-6.4 1.7-14.9 4.6-8.5 3-13.5 4.8-15.2 5.6-3-16.3-5.3-28.2-7-35.7s-2.9-13.1-3.8-16.8c-1-5.2-2.5-11.5-4.5-18.9-.1 2.4-.4 5.2-.6 8.5-.3 3.3-.6 6.9-.8 10.8-.8 12-2.2 29.2-4.2 51.8l-27 9.2c6.9-69.3 10.4-116 10.7-140 3.9-.6 7.6-1.3 11-1.9l10.2-1.8c3.4-.5 6.4-1 9-1.5 2.6 9.5 4.6 17.4 6.3 23.7 1.6 6.2 3 11.3 4 15.3 1.1 4 2.1 7.9 3.1 11.6 2 7.4 3.9 13.9 5.8 19.5.2-2.6.5-5.7.8-9.2.3-3.5.6-7.2.9-11.2.4-3.9.8-8 1.2-12 .5-4.1 1-9.3 1.7-15.8s1.5-14.6 2.5-24.3l22.8-5c-7.4 62.5-11.4 107-12 133.5zm92.1-130.9c-.4 2.7-.7 5.4-1.1 8-.4 2.6-.6 5-.8 7-3.6.7-8.7 1.4-15.1 2.1l-12.7 1.3-3.3 34.6c6.7-1 12.3-1.8 16.9-2.4 4.5-.6 7.5-1 8.8-1.2-.1 3.6-.3 7.1-.3 10.5-.1 3.4-.3 6.9-.5 10.6-1.3.3-3.4.6-6.2.9-2.8.3-5.8.7-8.8 1.2-3.1.4-6.5.9-10.3 1.4l-3 35.5 27-7.1.3 21.7-60 15.5L219.9 194l59.2-11.1c-.6 2.9-1.1 5.7-1.5 8.4zM400 216.8c-6 39.8-10.1 68.7-12.2 86.6L346 314.8l1.1-73.6-2.4.2-11.8 70.2-38.5 10.9 1.1-135.4c5.9-.8 11.4-2 16.5-3.4s10.3-2.6 15.4-3.5c0 .2-1.6 28.4-5 84.6l2.9-.3c2.3-13.4 4.5-25.8 6.7-37.4 2.2-11.6 3.7-19.5 4.5-23.8 1.5-9.6 2.8-16.8 3.8-21.8l1.7-.2c6.1-.6 12.7-2.1 19.7-4.4-.1 1.1-.2 3.5-.1 7 0 3.5.1 7.8.1 12.8 0 5 .1 10.5.2 16.5s.2 11.9.3 17.7c.2 10.5.2 20.4.2 29.8l3.5-.3 9.8-82.8c4.2-1 8.3-2 12.2-2.9 10.2-2.4 17.4-4.2 21.6-5.5-4 14.9-7 30.7-9.5 47.6z"
													  fill="#f9c32d"></path>
												<path d="M500.7 256L458 213.4l21.8-56.2-50.8-19.7V83h-60.3l-22.5-51-1.8-4.2-42 18.5-7.8 3.5L261.7 17l-5.7-5.7-39.5 39.5-3.2 3.2L167 36l-9.8-3.8L137.5 83H83v60.3l-55.2 24.4 22 49.8L11.3 256 54 298.6l-21.8 56.2L83 374.5V429h60.3l24.4 55.2 9.5-4.2 40.4-17.8 3.5 3.5 35.1 35.1 5.7-5.7 37-37 8.2 3.2 48.1 18.6 1.5-3.8 18.2-47H429v-60.3l55.2-24.4-22-49.8 38.5-38.6zm-315.2 66.2c-1.5.1-6.4 1.7-14.9 4.6-8.5 3-13.5 4.8-15.2 5.6-3-16.3-5.3-28.2-7-35.7s-2.9-13.1-3.8-16.8c-1-5.2-2.5-11.5-4.5-18.9-.1 2.4-.4 5.2-.6 8.5-.3 3.3-.6 6.9-.8 10.8-.8 12-2.2 29.2-4.2 51.8l-27 9.2c6.9-69.3 10.4-116 10.7-140 3.9-.6 7.6-1.3 11-1.9l10.2-1.8c3.4-.5 6.4-1 9-1.5 2.6 9.5 4.6 17.4 6.3 23.7 1.6 6.2 3 11.3 4 15.3 1.1 4 2.1 7.9 3.1 11.6 2 7.4 3.9 13.9 5.8 19.5.2-2.6.5-5.7.8-9.2.3-3.5.6-7.2.9-11.2.4-3.9.8-8 1.2-12 .5-4.1 1-9.3 1.7-15.8s1.5-14.6 2.5-24.3l22.8-5c-7.4 62.5-11.4 107-12 133.5zm92.1-130.9c-.4 2.7-.7 5.4-1.1 8-.4 2.6-.6 5-.8 7-3.6.7-8.7 1.4-15.1 2.1l-12.7 1.3-3.3 34.6c6.7-1 12.3-1.8 16.9-2.4 4.5-.6 7.5-1 8.8-1.2-.1 3.6-.3 7.1-.3 10.5-.1 3.4-.3 6.9-.5 10.6-1.3.3-3.4.6-6.2.9-2.8.3-5.8.7-8.8 1.2-3.1.4-6.5.9-10.3 1.4l-3 35.5 27-7.1.3 21.7-60 15.5L219.9 194l59.2-11.1c-.6 2.9-1.1 5.7-1.5 8.4zM400 216.8c-6 39.8-10.1 68.7-12.2 86.6L346 314.8l1.1-73.6-2.4.2-11.8 70.2-38.5 10.9 1.1-135.4c5.9-.8 11.4-2 16.5-3.4s10.3-2.6 15.4-3.5c0 .2-1.6 28.4-5 84.6l2.9-.3c2.3-13.4 4.5-25.8 6.7-37.4 2.2-11.6 3.7-19.5 4.5-23.8 1.5-9.6 2.8-16.8 3.8-21.8l1.7-.2c6.1-.6 12.7-2.1 19.7-4.4-.1 1.1-.2 3.5-.1 7 0 3.5.1 7.8.1 12.8 0 5 .1 10.5.2 16.5s.2 11.9.3 17.7c.2 10.5.2 20.4.2 29.8l3.5-.3 9.8-82.8c4.2-1 8.3-2 12.2-2.9 10.2-2.4 17.4-4.2 21.6-5.5-4 14.9-7 30.7-9.5 47.6z"
													  opacity=".2" fill="#fff"></path>
												<path d="M172.3 217.9c-.7 6.5-1.2 11.7-1.7 15.8-.5 4.1-.9 8.1-1.2 12-.4 3.9-.7 7.7-.9 11.2-.3 3.5-.5 6.6-.8 9.2-1.9-5.6-3.9-12.1-5.8-19.5-1-3.7-2-7.6-3.1-11.6s-2.4-9.1-4-15.3c-1.6-6.2-3.7-14.1-6.3-23.7-2.6.5-5.5 1-9 1.5-3.4.5-6.8 1.1-10.2 1.8-3.4.6-7.1 1.3-11 1.9-.2 24.1-3.8 70.8-10.7 140l27-9.2c2-22.5 3.4-39.8 4.2-51.8.2-3.9.5-7.5.8-10.8.3-3.3.5-6.2.6-8.5 2 7.4 3.5 13.7 4.5 18.9.9 3.8 2.1 9.4 3.8 16.8s4 19.4 7 35.7c1.7-.8 6.7-2.6 15.2-5.6 8.5-2.9 13.4-4.5 14.9-4.6.6-26.5 4.6-71 12-133.7l-22.8 5c-1 10-1.8 18.1-2.5 24.5zm36.2 112.6l60-15.5-.3-21.7-27 7.1 3-35.5c3.8-.5 7.2-1 10.3-1.4 3.1-.4 6-.8 8.8-1.2 2.8-.3 4.9-.6 6.2-.9.3-3.6.4-7.1.5-10.6.1-3.4.2-6.9.3-10.5-1.3.3-4.3.7-8.8 1.2-4.5.6-10.2 1.4-16.9 2.4l3.3-34.6 12.7-1.3c6.4-.6 11.4-1.3 15.1-2.1.2-2 .4-4.3.8-7 .4-2.6.7-5.3 1.1-8 .4-2.7.8-5.5 1.4-8.4L219.9 194l-11.4 136.5zm166.8-152.7l-9.8 82.8-3.5.3c.1-9.3 0-19.2-.2-29.8-.1-5.8-.2-11.7-.3-17.7-.1-6-.2-11.5-.2-16.5s0-9.3-.1-12.8c0-3.5 0-5.9.1-7-7 2.3-13.5 3.8-19.7 4.4l-1.7.2c-1 4.9-2.3 12.2-3.8 21.8-.8 4.3-2.3 12.2-4.5 23.8-2.2 11.6-4.4 24-6.7 37.4l-2.9.3c3.4-56.1 5-84.3 5-84.6-5.1.9-10.2 2-15.4 3.5-5.1 1.4-10.6 2.6-16.5 3.4L294 322.7l38.5-10.9 11.8-70.2 2.4-.2-1.1 73.6 41.8-11.4c2.2-18 6.3-46.8 12.2-86.6 2.5-16.9 5.6-32.7 9.1-47.4-4.2 1.3-11.4 3.1-21.6 5.5-3.5.7-7.6 1.6-11.8 2.7z"
													  fill="#ef4343"></path>
											</svg>
										</span>
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="report-section">
					<h4>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370.8 447.1" class="icon lpanel">
							<path d="M119.8 207.4a23.9 23.9 0 01-6.1-.9 22.2 22.2 0 01-8.8-5.2 22.5 22.5 0 01-4.5-6.8 22.2 22.2 0 01-1.5-10.1 20.5 20.5 0 013.4-9.6 22.1 22.1 0 015.8-5.8 19.6 19.6 0 015.6-2.6 20.2 20.2 0 0110.2-.5 22.3 22.3 0 019.2 4.3 20.2 20.2 0 016 8.2 19.3 19.3 0 011.6 6 20.5 20.5 0 01-2.4 12 24.2 24.2 0 01-3.7 4.9 22.5 22.5 0 01-6.8 4.5 22.2 22.2 0 01-8 1.6zm131.2 0a23.9 23.9 0 01-6.2-.9 22.2 22.2 0 01-8.7-5.2 22.5 22.5 0 01-4.6-6.8 22.2 22.2 0 01-1.5-10.1 20.5 20.5 0 013.5-9.6 22.1 22.1 0 015.8-5.8 19.6 19.6 0 015.5-2.6 20.2 20.2 0 0110.2-.5 22.3 22.3 0 019.3 4.3 20.2 20.2 0 016 8.2 19.3 19.3 0 011.5 6 20.5 20.5 0 01-2.4 12 24.2 24.2 0 01-3.6 4.9 22.5 22.5 0 01-6.8 4.5 22.2 22.2 0 01-8 1.6z">
							</path>
							<path d="M370.3 366.7v-.3L343 154.7A72 72 0 00272 91v-4.5a86 86 0 00-25.4-61.2A86.7 86.7 0 0098.8 86.6V91a72 72 0 00-71.1 63.6L.5 366.4v.3A72.2 72.2 0 0072 447h226.6a72.2 72.2 0 0071.6-80.4zM140.8 86.6a44.6 44.6 0 0189.2 0V91h-89.2v-4.4zM321.1 395a29.7 29.7 0 01-22.4 10H72a29.8 29.8 0 01-30-33.5L69.4 160v-.2a30.1 30.1 0 0130-26.7h172.2a30 30 0 0129.9 26.7v.2l27.2 211.7c1 8.6-1.7 17-7.5 23.4z">
							</path>
						</svg> Purchases
					</h4>
					<div class="nav flex-column">
						<div class="nav-item">
							<a id="ember1862" class="ember-view nav-link"
							   href="/app/reports/purchase-supplier">
								<div id="ember1863" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1864="1864">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Purchases by Supplier</span> <!---->
									</span>
								</div>
							</a>
						</div>
						<div class="nav-item">
							<a id="ember1865" class="ember-view nav-link"
							   href="/app/reports/purchase-by-item">
								<div id="ember1866" class="ember-view">
									<span class="text-nowrap" data-ember-action=""
										  data-ember-action-1867="1867">
										<span>
											<svg xmlns="http://www.w3.org/2000/svg"
												 viewBox="0 0 444.4 428.4"
												 class="icon icon-sm align-text-top fill-light-silver">
												<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
												</path>
											</svg>
										</span> <span class="pl-2">Purchases by Item</span> <!---->
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
<br/>
			@*Payroll*@



						<div class="col-lg-4">
							<div class="report-section">
								<h4>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370.8 447.1" class="icon lpanel">
										<path d="M119.8 207.4a23.9 23.9 0 01-6.1-.9 22.2 22.2 0 01-8.8-5.2 22.5 22.5 0 01-4.5-6.8 22.2 22.2 0 01-1.5-10.1 20.5 20.5 0 013.4-9.6 22.1 22.1 0 015.8-5.8 19.6 19.6 0 015.6-2.6 20.2 20.2 0 0110.2-.5 22.3 22.3 0 019.2 4.3 20.2 20.2 0 016 8.2 19.3 19.3 0 011.6 6 20.5 20.5 0 01-2.4 12 24.2 24.2 0 01-3.7 4.9 22.5 22.5 0 01-6.8 4.5 22.2 22.2 0 01-8 1.6zm131.2 0a23.9 23.9 0 01-6.2-.9 22.2 22.2 0 01-8.7-5.2 22.5 22.5 0 01-4.6-6.8 22.2 22.2 0 01-1.5-10.1 20.5 20.5 0 013.5-9.6 22.1 22.1 0 015.8-5.8 19.6 19.6 0 015.5-2.6 20.2 20.2 0 0110.2-.5 22.3 22.3 0 019.3 4.3 20.2 20.2 0 016 8.2 19.3 19.3 0 011.5 6 20.5 20.5 0 01-2.4 12 24.2 24.2 0 01-3.6 4.9 22.5 22.5 0 01-6.8 4.5 22.2 22.2 0 01-8 1.6z">
										</path>
										<path d="M370.3 366.7v-.3L343 154.7A72 72 0 00272 91v-4.5a86 86 0 00-25.4-61.2A86.7 86.7 0 0098.8 86.6V91a72 72 0 00-71.1 63.6L.5 366.4v.3A72.2 72.2 0 0072 447h226.6a72.2 72.2 0 0071.6-80.4zM140.8 86.6a44.6 44.6 0 0189.2 0V91h-89.2v-4.4zM321.1 395a29.7 29.7 0 01-22.4 10H72a29.8 29.8 0 01-30-33.5L69.4 160v-.2a30.1 30.1 0 0130-26.7h172.2a30 30 0 0129.9 26.7v.2l27.2 211.7c1 8.6-1.7 17-7.5 23.4z">
										</path>
									</svg> Payroll
								</h4>
								<div class="nav flex-column">
									<div class="nav-item">
										<a id="ember1862" class="ember-view nav-link"
										   href="/app/reports/advance-payment">
											<div id="ember1863" class="ember-view">
												<span class="text-nowrap" data-ember-action=""
													  data-ember-action-1864="1864">
													<span>
														<svg xmlns="http://www.w3.org/2000/svg"
															 viewBox="0 0 444.4 428.4"
															 class="icon icon-sm align-text-top fill-light-silver">
															<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
															</path>
														</svg>
													</span> <span class="pl-2">Advance Payment Report</span> <!---->
												</span>
											</div>
										</a>
									</div>
									<div class="nav-item">
										<a id="ember1865" class="ember-view nav-link"
										   href="/app/reports/monthly-salary">
											<div id="ember1866" class="ember-view">
												<span class="text-nowrap" data-ember-action=""
													  data-ember-action-1867="1867">
													<span>
														<svg xmlns="http://www.w3.org/2000/svg"
															 viewBox="0 0 444.4 428.4"
															 class="icon icon-sm align-text-top fill-light-silver">
															<path d="M121 428.4a58.5 58.5 0 01-58-66l9.8-75.8c.6-5-1-9.8-4.4-13.5L16 217.7A58.5 58.5 0 0147.7 120l75-14c5-1 9.1-4 11.5-8.4l36.7-67a58.5 58.5 0 01102.7 0l36.6 67c2.4 4.4 6.5 7.4 11.4 8.3l75 14.1a58.5 58.5 0 0131.8 97.7L376 273.2c-3.4 3.6-5 8.5-4.4 13.4l9.8 75.8a58.5 58.5 0 01-83.1 60.4l-69-32.7a16.5 16.5 0 00-14.2 0l-69 32.7c-8 3.7-16.5 5.6-25 5.6zM222.2 42c-3 0-10.3.8-14.5 8.6l-36.6 67a58.3 58.3 0 01-40.6 29.5l-75 14.1a16.2 16.2 0 00-12.7 11.1c-1 2.8-2.4 10 3.7 16.5l52.4 55.5a58.3 58.3 0 0115.5 47.7l-9.8 75.8a16.2 16.2 0 006.7 15.4c2.4 1.8 8.8 5.4 16.8 1.6l69-32.7c16-7.6 34.2-7.6 50.1 0l69 32.7c8 3.8 14.5.2 16.8-1.6 2.4-1.7 7.8-6.7 6.7-15.4L330 292a58.3 58.3 0 0115.5-47.7l52.5-55.5c6-6.4 4.6-13.7 3.7-16.5-1-2.8-4-9.5-12.7-11l-75-14.2a58.3 58.3 0 01-40.6-29.5l-36.6-67a16.2 16.2 0 00-14.5-8.6z">
															</path>
														</svg>
													</span> <span class="pl-2">Monthly Salary Report</span> <!---->
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
@code {

}
