@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="content-page-header">
            <h3>@ViewData["Title"]</h3>
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-xl-9 col-md-8">

            <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                    <div class="row form-group">
                        <label for="name" class="col-sm-3 col-form-label input-label">Email</label>
                        <div class="col-sm-9">
                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                            <div class="input-group-append">
                                <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                            </div>
                        </div>
                    </div>
@*                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>*@
            }
            else
            {
                    <div class="row form-group">
                        <label for="name" class="col-sm-3 col-form-label input-label">Email</label>
                        <div class="col-sm-9">
                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        </div>
                    </div>
                @*<div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>*@
            }
                <div class="row form-group">
                    <label for="name" class="col-sm-3 col-form-label input-label">New Email</label>
                    <div class="col-sm-9">
                        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                </div>
            @*<div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>*@
                <div class="text-end">
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
                </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
