@page "/app/item"
@inject IProduct _product
@inject ICategories _categories
@inject IUnits _units
@inject ITax _tax
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigation
@inject NotificationService NotificationService

<PageTitle>Item | Openbook</PageTitle>

<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header ">
            <h5>Item List</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-primary" href="/app/item/add"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Item</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class=" card-table">
                <div class="card-body">
                    <div class="card">
                        <div class="list-btn">
                            <ul class="filter-list">
                                <li>
                                    <input type="text" @bind="strSearch" class="form-control" placeholder="Search by item name" @onclick="()=>Filtter()" @onkeyup="()=>Filtter()" @bind:event="oninput" />
                                </li>
                            </ul>
                        </div>
                        <br />
                        <RadzenDataGrid AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                        Data="@listModel" TItem="ProductView" LogicalFilterOperator="LogicalFilterOperator.Or">
                            <Columns>
                                <RadzenDataGridColumn TItem="ProductView" Property="ProductCode" Title="Code" Width="100px" Frozen="true" />
                                <RadzenDataGridColumn TItem="ProductView" Property="ProductName" Title="Item Name"Width="300px" Frozen="true" />
                                <RadzenDataGridColumn TItem="ProductView" Property="SalesRate" Title="Sales Rate" Width="120px" Frozen="true" />
                                <RadzenDataGridColumn TItem="ProductView" Property="PurchaseRate" Title="PurchaseRate" Width="120px" Frozen="true" />
                                <RadzenDataGridColumn TItem="ProductView" Property="CategoryName" Title="Category" Width="200px" Frozen="true" />
                                <RadzenDataGridColumn TItem="ProductView" Property="UnitName" Title="Unit" Width="100px" Frozen="true" />
                                <RadzenDataGridColumn TItem="ProductView" Title="Action" Frozen="true" Sortable="false" Filterable="false" Width="100px">
                                    <Template Context="data">
                                        <a class=" btn-action-icon me-2" href="/app/item/edit/@data.ProductId">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                        <a class=" btn-action-icon" style="cursor:pointer;" @onclick="() =>Delete(data.ProductId)">
                                            <i class="fe fe-trash-2"></i>
                                        </a>
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->

</div>

@code {
    string strSearch = string.Empty;
    IList<ProductView> listModel;
    IList<ProductView> listAll;
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    private async Task LoadData()
    {
        listAll = await _product.GetAll();
        listModel = listAll;
        StateHasChanged();
    }
    private async Task Filtter()
    {
        if (strSearch == string.Empty)
        {
            listModel = listAll;
        }
        else
        {
            listModel = listAll.Where(x => x.ProductName.StartsWith(strSearch)).ToList();
        }
        StateHasChanged();
    }
    private async Task Delete(int id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var result = await _product.Delete(id);
            if (result == true)
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "", Detail = "The product has been deleted..", Duration = 3000 });
                await LoadData();
                StateHasChanged();
            }
            else
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "", Detail = "This product cannot be deleted as it is associated either with some transactions or documents.", Duration = 3000 });
                StateHasChanged();
            }
        }
    }
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}
